.image-slider {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 50px;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.image-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.image-item.show {
  opacity: 1;
}
