.social-links a {
  margin-right: 10px;
}

.developer-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  justify-content:space-between;
}

img {
  align-self: center;
  margin-bottom: 40px;
}

p {
  text-align: justify;
}

.social-links {
  justify-content: space-between;

  & a {
    font-size: 16px;
  }
}
