<mat-card class="contact-card" style="margin-top: 30px;">
    <h2>Politos Restaurant </h2>
    <p style="text-align: justify;">{{ restaurantProjectDescription }}</p>
</mat-card>

<div style="margin: 0 auto; padding: 20px; margin-top: 30px;">
    <h2 style="text-align: center;">Equipo de Desarrollo</h2>
</div>

<div *ngFor="let developer of developers">
    <mat-card class="developer-card">
        <h3>{{ developer.name }}</h3>
            <p>{{ developer.description }}</p>
            <div class="social-links">
                <a
                *ngFor="let socialLink of developer.socialLinks"
                [href]="socialLink.url"
                target="_blank"
                >{{ socialLink.platform }}</a
                >
                <i class="fa-brands fa-github" style="color: #1c1c1c;"></i>
            </div>
    </mat-card>
</div>


    
