<mat-card class="developer-card">
    <mat-card-header>
      <div mat-card-avatar>
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <mat-card-title>{{ developer.name }}</mat-card-title>
      <mat-card-subtitle>{{ developer.user }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ developer.photo }}" [width]="200" [height]="200" alt="Developer Profile Photo">
    <mat-card-content>
      <p>{{ developer.description }}</p>
    </mat-card-content>
    <mat-card-actions class="social-links">
        <a mat-button href="{{ developer.linkedin }}" target="_blank">
            <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
          </a>
          <a mat-button href="{{ developer.github }}" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon> GitHub
          </a>
    </mat-card-actions>
  </mat-card>


    
